$main-color: #123456;
$text-color: #333;

$white: #FFF;
$grey: #AAA;
$light-grey: #F2F2F2;
$dark-grey: #444;
$red: #ce0A0A;
$green: #31aa66;
$black: #000;
$blue: #2A4365;

$container: 80%;
$grid-gutter: 15px;
$md-width: 1200px;
$lg-width: 600px;
$col-nb: 12;
$sm-breakpoint: 1;
$md-breakpoint: 0;
$lg-breakpoint: 1;

$slider-width: 700px;
$slider-height: 260px;