$main-color: #123456;
$text-color: #333;

$white: #FFF;
$grey: #AAA;
$light-grey: #FFF9F6;
$dark-grey: #444;
$red: #e44e4e;
$light-red: #ffb6a3;
$green: #31aa66;
$dark-green: #87A397;
$black: #000;
$blue: #2A4365;

$container: 80%;
$grid-gutter: 15px;
$md-width: 1200px;
$lg-width: 600px;
$col-nb: 12;
$sm-breakpoint: 1;
$md-breakpoint: 0;
$lg-breakpoint: 1;

$slider-width: 700px;
$slider-height: 260px;